body{
    background-color: rgb(37, 37, 54);

}

.container{
    display: flex;           /* establish flex container */
     flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 500px;

}
.index{
    position: relative;
    top:8px;
    background-color: rgb(31, 31, 43);
    width: 280px;
    height:28px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
 .screen{
    position: relative;
    top:58px;
      border-top: 60px solid white;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      height: 0;
      width: 210px;
      filter:drop-shadow(0px 2px 5px white);
      
} 
  
.seat_table{
    position: relative;
    top:88px;
    border-spacing: 7px;
    align-self: center;
}

td,div.seats{
    width:13px;
    height: 11px;
    border-radius: 8px 8px 0 0;
}

td.seats,div.seats{
    background-color: rgb(83, 79, 79);
}

td.text{
    width:13px;
    height: 11px;
    border-radius:0;
    font-size: 15px;
    
} 

.temp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(124, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

span + span {
    margin-left: 5px;
}

.movie_selector{
    display: flex;
    flex-direction: row;
    position: relative;
    top:-25px;
    align-items: center;

}

#pick_movie{
    color: white;
}

#dropdown{
    color: black;
    background-color: white;
    width: 200px;
    height: 29px;
    border-radius: 5px;
    position: relative;
    /* position: absolute;
    left: 50%;
    margin-left: -100px; */
    /* margin-top:auto;
    margin-bottom:auto;
    text-align:inherit; */
    /*padding-left: 15px;*/
}



 .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:30px;
    left:103px;
    font-size: 15px;
  } 

   .dropdown-content a {
    color: black;
    padding: 3px 7px;
    text-decoration: none;
    display: block;
  } 

  .movie_selector a:hover {
      background-color: rgb(54, 184, 235);
      cursor: pointer;
    }

   .show {display: block;} 

   .seats.na{
       background-color: rgb(83, 79, 79);
   }

   .seats.selected{
    background-color: rgb(109, 226, 247);
   }

   .seats.occupied{
    background-color: cornsilk;
   }

   p{
       position: relative;
       top:100px;
       color: cornsilk;
       font-size: 1.05em;
   }
